<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A site of nothing.">
    <title>BMRX {{ - page.title }}</title>
    <link rel="stylesheet" href="/assets/main.css">
  </head>
  <body>
    <div id="top">
        <div id="top_content"><div id="site_name">BMRX</div></div>
        <div class="triangle top_triangle_l"></div><div class="triangle top_triangle_r"></div>
    </div>
    
    <main>
      {{ content }}
    </main>
    <footer>
        <div class="triangle footer_triangle_r"></div><div class="triangle footer_triangle_l"></div>
        <div class="footer_content">
            <nav>
                <a href="/">Home</a>
                <a href="/blog/">Blog</a>
            </nav>
        </div>   
    </footer>
    <script type="text/javascript">
        var contentContainer = document.getElementsByTagName("main")[0];
        contentContainer.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (contentContainer.scrollTop > 50) {
                contentContainer.style.paddingTop = "65px";
                document.getElementById("top_content").style.height = "50px";
                document.getElementById("site_name").style.fontSize = "15px";
            } else {
                contentContainer.style.paddingTop = "115px";
                document.getElementById("top_content").style.height = "100px";
                document.getElementById("site_name").style.fontSize = "30px";
            }
        }
    </script>
  </body>
</html>